.your-cart {
  padding: 4em 0 3em 0;
  text-align: center;
}

.your-cart>h3 {
  font-size: 1em;
}

.your-cart>p {
  font-size: .8em;
}

a img {
  width: 5em;
  height: auto;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

label, p {
  color: #696969;
}

.your-cart-list {
  padding: 0 12vw;
  min-height: 60vh;
  font-size: .8em;
}

.Checkoutbutton {
  display: inline-block;
  border: 2px solid black;
  padding: .7em 3em;
  text-align: center;
}

.totalcost {
  width: 100%;
  height: 20vw;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 20px 0px;
}

.select-size-amount {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.item-name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
}

.item-name>a {
  flex-grow: 1;
}

.select-size-amount>div {
  padding: 3vw;
}

.totalcost>p {
  color: black;
  padding: 0px 3em;
}

span {
  padding: 1em;
}

select, button {
  border: 0;
  background-color: transparent;
  padding: 1em;
  color: #696969;
}

button {
  padding: 0;
}

option {
  color: black;
  font-size: 1.2em;
}

option{color:black;}

.totalcost>p {
  font-weight: bold;
}

@media only screen and (max-width: 992px) {
  .your-cart-list {
    padding: 0 3em;
  }
}

@media only screen and (max-width: 768px) {
  .totalcost>p {
    padding: 0px 0px 60px 0px;
  }

  .item-name {
    align-content: space-around;
  }

  /*
  .item-name>a {
    width: 60%;
  }*/
  @media only screen and (max-width: 768px) {
      {
      order: 1;
      width: 100%;
      height: 50%;
      justify-content: flex-end;
      padding: 0;
      margin: 0;
    }

    .select-size-amount>div {
      padding: 0 0 0 3vw;
    }

    .Checkoutbutton {
      position: fixed;
      bottom: 0px;
      left: 0px;
      width: 100%;
      background-color: #2d2d86;
      color: white;
      margin: 0px;
      border: 0px;
      padding: 25px;
      font-size: 1.2em;
    }

    footer {
      display: none;
    }
  }

  @media only screen and (max-width: 381px) {
    .select-size-amount {
      flex-flow: column;
      justify-content: flex-start;
      order: 1;
      align-items: flex-start;
      padding: 0 0 0 3vw;
      margin: 0;
    }

    .select-size-amount>div {
      height: 2em;
      padding: 0;
    }

    .item-name>a {
      padding-left: 4vw;
    }
  }
