section {
  padding: 0 10vw;
}

.checkout {
  padding: 30px;
  text-align: center;
}

.checkout>h3 {
  font-size: 1em;
  font-weight: normal;
}

.checkout>p {
  font-size: .7em;
  color: #696969;
}

section h3 {
  font-size: .8em;
  font-weight: 600;
}

section p {
  color: black;
  font-size: .8em;
}

form {
  margin: 0px;
}

form div {
  margin: 20px 0px;
}

.input-field {
  position: relative;
  width: 100%;
  height: 60px;
  line-height: 60px;
}

label {
  position: absolute;
  top: -.7em;
  left: 0;
  width: 100%;
  color: #808080;
  transition: 0.2s all;
  cursor: text;
  font-size: .9em;
}

input {
  width: 100%;
  height: 40px;
  border: 1rem;
  outline: 0;
  padding: 1rem 0;
  border-bottom: 2px solid #d3d3d3;
  box-shadow: none;
  color: #111;
}

.billing-address {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
}

input[type="checkbox"] {
  border: 0;
  padding: 0;
  height: 20px;
  width: 20%;
}

.billing-address>h3 {
  width: 100%;
}

.billing-address>p {
  width: 70%;
}

.billing-address-checkbox {
  display: block;
  position: relative;
}

input[type="checkbox"] {
  width: 2em;
  margin: 0;
  border-radius: 0;
  background-color: white;
  border: 1em solid black;
  display: none;
}

.checkbox {
  position: absolute;
  top: .6em;
  left: 0;
  height: 1em;
  width: 1em;
  background-color: white;
  border: 2px solid black;
}

.billing-address-checkbox>p {
  padding-left: 2.3em;
}

input:invalid {
  outline: 0;
}

input:focus,
input:valid {
  border-color: #000000;
}

input:focus~label,
input:valid~label {
  font-size: 14px;
  top: -24px;
  color: #000000;
}

form {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}

form div {
  width: 40%;
}

.inline-inputfield {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.inline-inputfield>div {
  width: 48%;
}

.order-summary {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.item {
  width: 60%;
  text-align: left;
}

.value {
  width: 40%;
  text-align: right;
}

.order-summary>h3 {
  width: 100%;
}

.place-order-button {
  display: inline-block;
  border: 2px solid black;
  padding: .7em 3em;
  text-align: center;
  font-size: .9em;
}

.exp-cvv {
  width: 30%;
  display: inline-block;
}

select {
  border: 0;
  background-color: transparent;
  width: 100%;
  height: 41px;
  border-bottom: 2px solid #d3d3d3;
  font-size: 1em;
}

select:hover {
  border-bottom: 2px solid black;
}

select>option {
  font-size: 1em;
}

@media only screen and (max-width: 768px) {
  .checkout {
    padding: 0;
  }

  .checkout>h3 {
    font-size: .8em;
  }

  form div {
    width: 100%;
  }

  .order-summary {
    width: 100%;
  }

  footer {
    display: none;
  }

  section {
    padding: 0 1.4em 5em 1.4em;
  }

  .account-info-div {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .place-order-button {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: #2d2d86;
    color: white;
    margin: 0px;
    border: 0px;
    padding: 25px;
  }
}
