.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}

.shop-now-button {
  display: inline-block;
  border: .15em solid black;
  padding: .7em 3em;
  margin: 0 0 3em 0;
  font-size: .9em;
}

.cover-item-half-width {
  width: 50%;
  height: auto;
}

.cover-item-half-width>h3 {
  font-size: .9em;
}

.shop-now-button1 {
  padding: .7em 2em;
}

@media only screen and (max-width: 768px) {
  .cover-image {
    height: 16em;
  }
}
