.container {
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
}

.item-list {
  width: 33.333333%;
  text-align: center;
  margin-bottom: 2.1em;
}

.item-list>p {
  color: #696969;
}

.item-image {
  width: 70%;
  height: auto;
}

.cover-item>h3 {
  margin: 2em 0 .8em 0;
}

h3+p {
  font-size: .8em;
  color: #696969;
}

a p {
  font-size: .8em;
  padding: 0;
  margin: 0;
  color: #696969;
  margin: 0;
  font-size: .8em;
}

a h4 {
  margin: 0;
  padding: 2em 0 .15em 0;
  font-size: .8em;
}

@media only screen and (max-width: 768px) {
  .cover-item>a {
    display: none;
  }

  .item-image {
    width: 90%;
  }

  .container {
    padding: 0;
  }

  .item-list {
    width: 50%;
    text-align: center;
  }

  a h4 {
    padding: .2em 0 .15em 0;
  }
}
