body {
  padding: 20px;
}

p, li {
  color: #696969;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.item-image>img {
  display: block;
  margin: auto;
  width: 80%;
  height: auto;
  object-fit: contain;
}

.container>div {
  width: 50%;
}

.select-size-amount>label {
  display: inline-block;
  width: 20%;
}

select {
  background-color: white;
  width: 75%;
  padding: 12px 20px;
  margin: 1.5vw 0px;
  display: inline-block;
  border: 0px 0px;
}

.add-to-cart-button {
  display: inline-block;
  border: 2px solid black;
  padding: 10px 35px;
  margin: 0px 0px 30px 0px;
}

img[src="images/arrow.svg"] {
  display: inline-block;
  width: 30px;
  height: auto;
}

@media only screen and (max-width: 768px) {
  .container>div {
    width: 100%;
    padding-bottom: 60px;
  }

  .item-image>img {
    width: 70%;
  }

  .add-to-cart-button {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: #2d2d86;
    color: white;
    margin: 0px;
    border: 0px;
    padding: 25px;
  }

  footer {
    display: none;
  }
}
