body {
  font-family: 'Roboto', 'Noto', 'sans-serif';
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

header {
  padding: 1.2em 2.5em;
  display: flex;
  font-size: .5em;
  text-align: center;
  align-items: center;
}

header h1 {
  flex-grow: 10;
  font-weight: 550;
}

h1 a {
  letter-spacing: 0.3em;
}

img[src="images/menu-icon.png"] {
  display: none;
}

img[src="images/cart-image.png"] {
  width: 3em;
  height: auto;
}

a {
  text-decoration: none;
  color: black;
}

.navbar {
  display: flex;
  justify-content: center;
}

.navbar>a {
  font-size: .8em;
  padding: 2em 0;
  margin: 0 1em;
}

.cover-image {
  width: 100%;
  height: 20em;
  padding-bottom: 10px;
  object-fit: cover;
}

.cover-item {
  text-align: center;
}

.cover-item>h3 {
  font-size: 1em;
  margin: 2em;
}

footer {
  text-align: center;
}

footer a {
  display: block;
  width: 100%;
}

footer a:hover {
  text-decoration: underline;
  color: #696969;
}

footer p {
  display: inline-block;
  background-color: black;
  color: white;
  padding: 10px 20px;
}

@media only screen and (max-width: 768px) {
  .navbar {
    display: none;
  }

  img[src="images/menu-icon.png"] {
    display: inline-block;
    width: 20px;
    height: auto;
  }

  .cover-item>h3 {
    margin: 1em;
  }
}
